<form class="form-horizontal">
	<fieldset>

		<!-- Form Name -->
		<legend>Define Parameters</legend>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="textinput">파라미터</label>
			<div class="col-md-8">
				<input id="textinput" name="textinput" type="text"
					placeholder="parameter" class="form-control input-md" required="">
			</div>
		</div>
		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="textinput">파라미터 설명</label>
			<div class="col-md-8">
				<input id="textinput" name="textinput" type="text"
					placeholder="parameter" class="form-control input-md" required="">
			</div>
		</div>
		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="textinput">데이터 타입</label>
			<div class="col-md-8">
				<input id="textinput" name="textinput" type="text"
					placeholder="parameter" class="form-control input-md" required="">
			</div>
		</div>
		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="textinput">비고</label>
			<div class="col-md-8">
				<input id="textinput" name="textinput" type="text"
					placeholder="parameter" class="form-control input-md">
			</div>
		</div>
		<!-- Button -->
		<div class="form-group">
			<label class="col-md-4 control-label" for="singlebutton">&nbsp;</label>
			<div class="col-md-4">
				<button id="singlebutton" name="singlebutton"
					class="btn btn-primary">추가</button>
			</div>
		</div>

	</fieldset>
</form>