<div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
            <h5>Collspan Table Example</h5>
            <span class="label label-info">Featured</span> </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Last Name</th>
                  <th>Username</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>steave</td>
                  <td>marki</td>
                  <td>@hahas</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>john</td>
                  <td>deo</td>
                  <td>@john</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td colspan="2">collspan text</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>